* {
  margin: 0;
  padding: 0;
}
body {
  width: 1920px;
  height: 700px;
  flex-shrink: 0;
  background: #fff;
}
main {
  display: flex;
}
.headtop {
  display: flex;
}
.Up {
  padding-top: 40px;
  padding-left: 375px;
}
.growbe {
  display: flex;
  padding-top: 45px;
  padding-left: 14px;
}
.grow {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.be {
  color: #f25822;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu {
  padding-top: 51px;
  padding-left: 500px;
  padding-right: 375px;
  width: 533px;
  height: 17px;
  display: flex;
  gap: 30px;
}
.menu a {
  text-decoration: none;
  display: inline;
}
.home {
  color: #f25822;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.linkmenu {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.heading {
  color: #000;
  display: flex;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 373px;
  padding-top: 89px;
  flex-direction: row;
  align-items: flex-start;
  width: 522px;
  height: 222px;
}
.maintext {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 373px;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 466px;
  height: 48px;
}
.buttons {
  padding-left: 375px;
  padding-top: 52px;
}
.startnow {
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.watchvideo {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
  border: none;
  padding-left: 72px;
}
.picture {
  width: 544.814px;
  height: 374.843px;
  flex-shrink: 0;
  padding-right: 439px;
  padding-left: 40.94px;
  padding-top: 94.71px;
}
footer {
  width: 1920px;
  height: 243px;
  flex-shrink: 0;
}
.logo {
  display: flex;
  gap: 48px;
  padding-left: 345px;
  padding-top: 97px;
}
.logolink {
  width: 160px;
  height: 50px;
}
