* {
  margin: 0;
  padding: 0;
}
body {
  width: 1920px;
  height: 700px;
  flex-shrink: 0;
  background: #fff;
}
.headtop {
  display: flex;
}
.growbe {
  display: flex;
}
.grow {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.be {
  color: #f25822;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu a {
  text-decoration: none;
  display: inline;
}
.home {
  color: #f25822;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.linkmenu {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.heading {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.maintext {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.startnow {
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.watchvideo {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
  border: none;
}
.picture {
  width: 544.814px;
  height: 374.843px;
  flex-shrink: 0;
}
.logolink {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}
